"*":
  "autocomplete-python":
    useKite: false
  "city-lights-ui":
    fontSize: 12
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    projectHome: "/Users/rlaney/Projects"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
    themes: [
      "city-lights-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom"
    uriHandlerRegistration: "always"
    useTreeSitterParsers: true
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "dcbef0c7-e428-4cca-85eb-9fe4e47505f8"
  kite:
    editorMetricsEnabled: "yes"
  nuclide:
    use: {}
  "one-dark-ui":
    stickyHeaders: true
  "seti-ui":
    compactView: true
    fileIcons: false
    themeColor: "Orange"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
